* {
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: #fff;
}

.site {
	background-color: black;
}

.hero {
	text-align: center;
}

.hero__container {
}

.hero__title {
}

.button {
}

.button--primary {
}

.hero__button {
}

.footer {
	text-align: center;
}

.footer__container {
}

.footer__social-list {
}

.footer__social-item {
}

.footer__social-link {
}

.footer__copyright {
}
